<!DOCTYPE html>
<html>
<head>
  <title>Pester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div class="navbar">
  <span class="navbar_title">KEEPING UP WITH KIM</span>
  <span class="navbar_profile">test@example.com <i class="fa fa-angle-down"></i></span>
</div>

<div class="content">
  <%= yield %>
</div>

<script src="//use.typekit.net/jjo6cmu.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</body>
</html>
